<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="GamaAcademy_Reseller::reseller"
             title="Resellers"
             translate="title"
             module="GamaAcademy_Reseller"
             sortOrder="190"
             action="resellers/cadastro/listall"
             resource="Magento_Backend::admin" />
    </menu>
</config>

